# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build / Maven / Gradle
target/
build/
.gradle/
*.class
*.jar
*.war
*.ear

# IDE / Editor
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/
.settings/
.project
.classpath

# Logs
*.log
